<h1 style="color: white; text-align:center;">Get Inspired!</h1><br>

<div id="goals" class="transitions-enabled">
  <% @goals.each do |goal| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(goal.picture.url(:medium)), goal %>
      <div class="panel-body center">
        <p style="font-size: 15px;"><strong><%= goal.location %></strong><p>
        <p style="font-size: 13px;"><%= goal.description %><p>
        <p style="font-size: 11px;"><strong>Golio added by: </strong><em><%= goal.user.email if goal.user %></em></p>

        <% if current_user && goal.user == current_user %>
          <div class="actions">
            <%= link_to edit_goal_path(goal) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to goal, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
</div>

<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
