<% if user_signed_in? %>
  <div class="profile" style="background: rgba(222,222,222,.6); padding: 20px 0 10px 0">
      <%= image_tag current_user.picture.url(:medium), {:style=>'border-radius:100%; margin-left: 43.5%;'}  %>
    <h3 style="color:white; text-align: center;"> <%= current_user.name + " " + current_user.last_name %></h3>
    <h5 style="color:grey; text-align: center;"> <span class="glyphicon glyphicon-map-marker"> </span><%= current_user.location %></h3>
  </div>

  <div id="goals" class="transitions-enabled">
    <% current_user.goals.order("created_at DESC").each do |goal| %>
      <div class="box panel panel-default">
        <%= link_to image_tag(goal.picture.url(:medium)), goal %>
        <div class="panel-body center">
          <p style="font-size: 15px;"><strong><%= goal.location %></strong><p>
          <p style="font-size: 13px;"><%= goal.description %><p>
          <p style="font-size: 11px;"><strong>Destination added by: </strong><em><%= goal.user.email if goal.user %></em></p>
          <% if goal.user == current_user %>
            <div class="actions">
              <%= link_to edit_goal_path(goal) do %>
                <span class="glyphicon glyphicon-edit"></span> Edit
              <% end %>
              <%= link_to goal, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span> Delete
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

<% else %>
  <%= render 'pages/home' %>
<% end %>
