<h1>My Dream Destinations</h1>
<div id="goals" class="transitions-enabled">
  <% @goals.each do |goal| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(goal.picture.url(:medium)), goal %>
      <div class="panel-body">
        <%= goal.description %><br>
        <%= goal.location %>
        <strong><%= goal.user.email if goal.user %></strong>
        <% if goal.user == current_user %>
          <div class="actions">
            <%= link_to 'Edit ', edit_goal_path(goal) %>|
            <%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
