<p>
  <strong>Picture:</strong>
  <%= image_tag @goal.picture.url %>
</p>
<br>
<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>
<br>
<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>
<br>
<p>
  <strong>Location:</strong>
  <%= @goal.location %>
</p>
<br>
<% if @goal.user == current_user %>
  <%= link_to 'Edit', edit_goal_path(@goal) %>
<% end %>
<%= link_to 'Back', goals_path %>
