<%= link_to 'Back', goals_path %><br>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
    <div class="panel-heading center">
      <%= image_tag @goal.picture.url(:medium) %>
    </div>

    <div class="panel-body center">
      <h3><%= @goal.title %></h3>
      <p><strong>Description: </strong><%= @goal.description %></p>
      <p><strong>Location: </strong><%= @goal.location %></p>

      <% if @goal.user == current_user %>
        <div class="actions">
          <%= link_to edit_goal_path(@goal) do %>
            <span class="glyphicon glyphicon-edit"></span>Edit
          <% end %>
          <%= link_to @goal, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span> Delete
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
